mixin breakcrumb(items, last)
    nav.breadcrumb-wrapper
        ol.breadcrumb.pl-0
            each item in items
                li.breadcrumb-item
                    a(href='#')=item
            if last
                li.breadcrumb-item.active=last