mixin product(product)
    .card.product.w-100(style='width: 18rem;')
        .card-img
            img.card-img-top(src=product.image alt='Card image cap')
        .product-body
            h5.card-price=product.price 
                |  đ
            h5.card-title=product.title
            .product-rates.mb-4
                span 
                    - for(var i = 0; i < product.rate; i++)
                        i.fas.fa-star
                    - for(var i = 0; i < 5 - product.rate; i++)
                        i.far.fa-star.none-star
                span.reviews  (#{product.reviews} Đánh giá)
            .action.d-flex.justify-content-center
                a(href='#')
                    +button("Mua ngay", "yellow")
                a(href='#')
                    +button("Mua ngay", "black")

mixin products (products, size)
    ul.product-list.d-flex.flex-wrap.justify-content-between.pl-2.w-100
        - for(var i = 0; i < size; i++) 
            .col-lg-4.col-sm-6.pr-0.product-col
                li.product-list__item.mb-4
                    +product(products[i])
                    
mixin category(productList)
    ul#pills-tab.nav.nav-pills.mb-3.font-weight-bold.justify-content-end.p-0(role='tablist')
        li.nav-item
            a#pills-home-tab.nav-link.active(data-toggle='pill' href='#pills-home' role='tab' aria-controls='pills-home' aria-selected='true')
                +button("Máy khoan", "white")
        li.nav-item
            a#pills-profile-tab.nav-link(data-toggle='pill' href='#pills-profile' role='tab' aria-controls='pills-profile' aria-selected='false')
                +button("Máy in 3S", "white")
        li.nav-item
            a#pills-contact-tab.nav-link(data-toggle='pill' href='#pills-contact' role='tab' aria-controls='pills-contact' aria-selected='false') 
                +button("Máy CNC", "white")
        li.nav-item
            a#pills-tien-tab.nav-link(data-toggle='pill' href='#pills-tien' role='tab' aria-controls='pills-tien' aria-selected='false')  
                +button("Máy tiện", "white")
        li.nav-item
            a#pills-other-tab.nav-link(data-toggle='pill' href='#pills-other' role='tab' aria-controls='pills-other' aria-selected='false')
                +button("Máy khác", "white")
    #pills-tabContent.tab-content
        - var category1= []
        - var category2= []
        - var category3= []
        - var category4= []
        - var category5= []
        each item, index in productList
            case item.category
                when 1
                    - category1.push(item)
                when 2
                    - category2.push(item)
                when 3
                    - category3.push(item)
                when 4
                    - category4.push(item)
                default
                    - category5.push(item)
        #pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab') 
            .row
                +products(category1, 3)
        #pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab') 
            .row
                +products(category2, 3)

        #pills-contact.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab')
            .row 
                +products(category3, 3)
        #pills-tien.tab-pane.fade(role='tabpanel' aria-labelledby='pills-tien-tab')
            .row 
                +products(category4, 3)
        #pills-other.tab-pane.fade(role='tabpanel' aria-labelledby='pills-other-tab')
            .row 
                +products(category5, 3)

