.login {
    .require {
        color: $red;
    }

    input {
        padding: 1rem .5rem;
        outline: none;
        border: 1px solid $gray-dark;
    }

    .checkbox{
        label{
            @include text($gray-text, none, 400, 1rem);
            font-style: italic;
        }
    }

    .forget{
        @include text($yellow, none, 400, 1rem);
        font-style: italic;
        text-decoration: underline;
    }

    .text{
        @include text($gray-text, none, 400, .9rem);
    }

    @include responsive(breakpoints-large){
        .email, .address{
            margin-top: 1rem;
        }
    }
}