- 
    var footerData =[
        {
            title: "Chính sách",
            list: ["Chính sách giao hàng", "Chính sách đổi sản phẩm", "Chính sách bảo hành", "Chính sách trả góp", "Giới thiệu hàng đổi trả", "Vân chuyển miễn phí"]
        },
        {
            title: "Dịch vụ & hỗ trợ",
            list: ["Hệ thống cửa hàng", "Tin tức khuyến mại", "Hướng dẫn thanh toán", "Tích điểm đổi thưởng", "Dịch vụ đổi trả hàng", "Câu hỏi thường gặp"]
        },
        {
            title: "Tin tức - Sự kiện",
            list: ["Tin tức mới nhât", "Chính sách đổi sản phẩm", "Tuyển dụng, đãi ngộ", "Download tài liệu", "Chương trình đối tác", "Nhà phát triển ứng dụng"]
        },
    ]

- 
    var socials = [
        {
            href: "#",
            icon: "fab fa-facebook-f",
            name: "Facebook"
        },
        {
            href: "#",
            icon: "fab fa-google-plus-g",
            name: "Twitter"
        },
        {
            href: "#",
            icon: "fab fa-instagram",
            name: "Instagram"
        },
        {
            href: "#",
            icon: "fab fa-twitter",
            name: "Twitter"
        },
        {
            href: "#",
            icon: "fab fa-skype",
            name: "Skype"
        }
    ]

- 
    var banks = [
        "../assets/images/techcombank.png",
        "../assets/images/vietinbank.png",
        "../assets/images/vpbank.png",
        "../assets/images/tienphongbank.png",
        "../assets/images/maritimebank.png",
        "../assets/images/dongabank.png",
        "../assets/images/abbank.png",
        "../assets/images/vietcapitalbank.png",
    ]







