- 
    var social =[
        {
            href: "#",
            icon: "fab fa-facebook-f"
        },
        {
            href: "#",
            icon: "fab fa-google-plus-g"
        },
        {
            href: "#",
            icon: "fab fa-instagram"
        },
        {
            href: "#",
            icon: "fab fa-twitter"
        },
    ]

-
    var menu =[
        {
            name: "Trang chủ",
            href: "#"
        },
        {
            name: "Giới thiệu",
            href: "#"
        },
        {
            name: "Tin khuyến mại",
            href: "#"
        },
        {
            name: "Sản phẩm",
            submenu: [
            {
                subname: "Sản phẩm 1",
                href: "#"
            }, 
            {
                subname: "Sản phẩm 2",
                href: "#"
            }, 
            ]
        },
        {
            name: "Dịch vụ",
            href: "#"
        },
        {
            name: "Liên hệ",
            href: "#"
        }
    ]
