-       
    var categoriesNews = [
        "Đời sống pháp luật (45)",
        "Kinh tế trong nước (32)",
        "Sức khỏe và gia đình (27)",
        "Công nghệ thông tin (16)",
        "Tin tức khác (9)",
    ]

- 
    var newsList = [
        {
            image: "../assets/images/blog_image_1.png",
            link: "./blog-detail.html",
            title: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
            date: "Thứ năm, ngày 23/10/2015 8:00",
            author: "Design Team",
            comments: [
                "cmt1",
                "cmt1",
                "cmt1",
            ],
            content: "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure"
        }, 
        {
            image: "../assets/images/blog_image_2.png",
            link: "./blog-detail.html",
            title: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
            date: "Thứ năm, ngày 23/10/2015 8:00",
            author: "Design Team",
            comments: [
                "cmt1",
                "cmt1",
                "cmt1",
            ],
            content: "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure... "
        }, 
        {
            image: "../assets/images/blog_image_1.png",
            link: "./blog-detail.html",
            title: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
            date: "Thứ năm, ngày 23/10/2015 8:00",
            author: "Design Team",
            comments: [
                "cmt1",
                "cmt1",
                "cmt1",
            ],
            content: "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure... "
        }, 
    ]

-
    var galleries = [
        "../assets/images/pic_2.jpg",
        "../assets/images/pic_3.jpg",
        "../assets/images/pic_4.jpg",
        "../assets/images/pic_5.jpg",
        "../assets/images/pic_6.jpg",
        "../assets/images/pic_1.jpg",
    ]