-       
    var categories = [
        "Máy khoan, cắt CNC",
        "Máy in phun khổ lớn",
        "Máy quét Canon 3D",
        "Máy hàn điện Alunima",
        "Máy khoan Decameta",
        "Máy phay đa năng CNC",
        "Máy mài, tiện DC 12V",
        "Máy khoan, cắt CNC",
        "Máy quay thông minh N3",
        "Motor R34C đa dụng",
        "Maý in laser màu 3D"
    ]

-       
    var filterPrice = [
        "0-200.000 Đ (45)",
        "200.000 Đ - 500.000 Đ (32)",
        "500.000 Đ - 1000.000 Đ (27)",
        "1000.000 Đ - 2.000.000 Đ (16)",
        "Trên 2.000.000 Đ (9)",
    ]

-       
    var filterColor = [
        "Màu đỏ (45)",
        "Màu xanh (32)",
        "Màu vàng (27)",
        "Màu bạc (16)",
        "Màu đen (9)",
    ]
- 
    var products = [ 
        { 
            title: "Máy khoan black decker", 
            image:"../assets/images/product_1.png", 
            rate:4, 
            reviews:12, 
            price:"1.550.000", 
            category: 1,
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
         { 
            title: "Máy khoan black decker", 
            image:"../assets/images/product_1.png", 
            rate:4, 
            reviews:12, 
            price:"1.550.000", 
            category: 1,
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
         { 
            title: "Máy khoan black decker", 
            image:"../assets/images/product_1.png", 
            rate:4, 
            reviews:12, 
            price:"1.550.000", 
            category: 1,
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            price:"1.550.000", 
            category: 1,
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            price:"1.550.000", 
            category: 1,
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 2,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_3.png", 
            rate:4, 
            reviews:12, 
            category: 2,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 2,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 2,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 2,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 3,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 3,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 3,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 3,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 3,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 4,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 4,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 4,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
         {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 4,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
         {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 4,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 5,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 5,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 5,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 5,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },
        {
            title: "Máy khoan black decker", 
            image:"../assets/images/product_2.png", 
            rate:4, 
            reviews:12, 
            category: 5,
            price:"1.550.000", 
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..." 
        },

    ]

- var categorydrill= []
- var category2D= []
- var category3D= []
- var categoryCNC= []
- var categoryOther= []
    each item, index in products
        case item.category
            when 1
                - categorydrill.push(item)
            when 2
                - category2D.push(item)
            when 3
                - category3D.push(item)
            when 4
                - categoryCNC.push(item)
            default
                - categoryOther.push(item)