@mixin button($backgroundColor, $color){
    background-color: $backgroundColor;
    color: $color;
}

.btn-yellow{
    @include button($yellow, $white);
    @include text($white, uppercase, 500, .8rem);
    padding: .5rem 1rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    &:hover{
        @include button($white, $black);
    }
}

.btn-black{
    @include button($black, $white);
    @include text($white, uppercase, 500, .8rem);
    padding: .5rem 1rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    &:hover{
        @include button($white, $black);
    }
}

.btn-white{
    @include button($white, $black);
    @include text($black, uppercase, 500, .8rem);
    padding: .5rem 1rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    &:hover{
        @include button($yellow, $black);
    }
}

.btn-square-black{
    @include button($black, $white);
    border-radius: 0;
    border: 1px solid $black;
    width: 2rem;
    height: 2rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    &:hover{
        @include button($white, $black);
    }
}

.btn-square-white{
    @include button($white, $black);
    border: 1px solid $black;
    width: 2rem;
    height: 2rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    &:hover{
        @include button($black, $white);
    }
}