.card {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  cursor: pointer;

  &-body {
    .card-icon {
      i {
        @include text($yellow, none, 600, 1.5rem);
      }
    }

    .card-content {
      .card-title {
        @include text($black, uppercase, 600, 1rem);
      }

      .card-text {
        @include text($black, none, 400, 0.8rem);
      }
    }
  }

  &:hover {
    @include hover($yellow, none, none);

    i {
      @include text($white, none, 600, 1.5rem);
    }
  }
}
