.modal{
    .modal-dialog{
        max-width: 700px !important;
        .modal-content{
            background-image: url(../assets/images/popup.jpg);

            .modal-header{
                border-bottom: none;
                button{
                    background-color: $black;

                    span{
                        color: $yellow;
                    }
                }
            }

            .modal-body{
                .modal-title{
                    @include text($black, none, 600, 1.5rem);
                }

                .sign-modal{
                    button{
                        width: 100%;
                        padding: 1rem 0;
                    }
                }
            }
        }
    }
}