* {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

li{
  list-style: none;
}

.breadcrumb-wrapper{
  .breadcrumb{
      background-color: transparent;

      a{
          color: $gray-text;
      }

      .active{
          color: $black;

          &:before{
              display: inline-block;
              padding-right: .5rem;
              padding-left: .5rem;
              color: $gray-text;
              content: ">";
          }
      }
  }
}